---
import { Picture } from "@astrojs/image/components";
import Container from "../components/container.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Hire us">
  <Container>
    <div class="mb-8">
      <div class="bg-darkblue rounded-lg md:h-80 md:max-h-92 overflow-hidden">
        <Picture
          src="/class.png"
          alt="illustrationsteelpan.png"
          sizes="(max-width: 1800px) 100vw, 1800px"
          widths={[200, 400, 800, 1200, 1800]}
          aspectRatio="16:9"
          background="#ffffff"
          fit="cover"
          position="center"
          class="rounded-t-lg opacity-70 overflow-hidden"
        />
      </div>
    </div>
    <h1
      class="mb-4 text-3xl font-extrabold text-gray-900 dark:text-white md:text-4xl lg:text-5xl"
    >
      <span
        class="text-transparent bg-clip-text bg-gradient-to-r to-blue-300 from-blue-700"
        >Hire</span
      > New World Steelpan Orchestra
    </h1>
    <p class="pb-5">
      The steel pan is a musical instrument that originated in Trinidad and
      Tobago in the 1930s. It was created out of necessity, as African slaves
      were not allowed to play drums, so they started making music with whatever
      they could find, including discarded oil drums. Over the years, the steel
      pan has evolved and become a staple of Caribbean music. New World Steel
      Pan Orchestra has been sharing the joy of this unique instrument with
      audiences for over 20 years. Their passion for the steel pan and their
      dedication to their craft have made them one of the most sought-after
      musical groups in the area.
    </p>
    <p class="pb-5">
      By hiring New World Steel Pan Orchestra for your event, you can be assured
      that your guests will be treated to an unforgettable musical experience.
      Their skilled musicians are experts at creating a lively and energetic
      atmosphere that will get everyone on their feet. Whether you're looking
      for background music for a cocktail hour or a high-energy performance to
      get the party started, New World Steel Pan Orchestra has the talent and
      repertoire to deliver. They can customize their performance to fit the
      needs of your event, whether it's a wedding, corporate event, or community
      gathering. With their infectious rhythms and skillful playing, New World
      Steel Pan Orchestra is sure to leave a lasting impression on your guests.
    </p>
    <p>
      In addition to providing entertainment for your event, hiring New World
      Steel Pan Orchestra also supports the local community. By supporting local
      musicians and cultural traditions, you are helping to preserve the
      heritage and history of the Caribbean. New World Steel Pan Orchestra is a
      group of dedicated and passionate musicians who take pride in sharing
      their love of the steel pan with others. By hiring them for your event,
      you are supporting the arts and helping to promote cultural awareness and
      diversity in your community. So if you want to add a touch of Caribbean
      flair to your event while supporting local musicians, consider hiring New
      World Steel Pan Orchestra.
    </p>
  </Container>
</Layout>
