---
import Layout from "../layouts/Layout.astro";
import Container from "../components/container.astro";
import Carousel from "../components/carousel.jsx";
import Jumbo from "../components/jumbo.astro";
import Services from "../components/services.astro";
---

<Layout title="Welcome to Astro.">
  <Container>
    <main>
      <Jumbo />
    </main>
  </Container>
</Layout>
