---
const { class: className } = Astro.props;
---

<div
  class:list={[
    "max-w-screen-xl mx-auto px-5 text-gray-500 dark:text-gray-400 lg:px-0 py-5 lg:px-5 min-h-full",
    className,
  ]}
>
  <slot />
</div>
