---
import { Image, Picture } from "@astrojs/image/components";
---

<div class="relative pt-5 z-20">
  <div class="grid grid-cols-1 md:grid-cols-3 gap-5">
    <div
      class="bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
    >
      <div class="bg-darkblue rounded-lg">
        <Picture
          src="/class.png"
          alt="/class"
          sizes="(max-width: 800px) 100vw, 800px"
          widths={[200, 400, 800]}
          aspectRatio="3:2"
          background="#ffffff"
          fit="cover"
          position="center"
          class="rounded-t-lg opacity-70"
        />
      </div>
      <div class="p-5">
        <a href="/classes">
          <h5
            class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
          >
            Classes
          </h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
          Take classes with New World Steel Pan Orchestra to learn the steel pan
          and develop your musical abilities.
        </p>
        <a
          href="classes"
          class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          Read more
          <svg
            aria-hidden="true"
            class="w-4 h-4 ml-2 -mr-1"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
            ><path
              fill-rule="evenodd"
              d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
              clip-rule="evenodd"></path></svg
          >
        </a>
      </div>
    </div>

    <div
      class="bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
    >
      <div class="bg-darkblue rounded-lg">
        <Picture
          src="illustrationsteelpan.png"
          alt="Hiring"
          sizes="(max-width: 800px) 100vw, 800px"
          widths={[200, 400, 800]}
          aspectRatio="3:2"
          background="#ffffff"
          fit="cover"
          position="center"
          class="rounded-t-lg opacity-70"
        />
      </div>
      <div class="p-5">
        <a href="/hire">
          <h5
            class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
          >
            Hiring
          </h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
          Hire New World Steel Pan Orchestra for a vibrant and unforgettable
          musical experience at your next event.
        </p>
        <a
          href="/hire"
          class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          Read more
          <svg
            aria-hidden="true"
            class="w-4 h-4 ml-2 -mr-1"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
            ><path
              fill-rule="evenodd"
              d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
              clip-rule="evenodd"></path></svg
          >
        </a>
      </div>
    </div>

    <div
      class="bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
    >
      <div class="bg-darkblue rounded-lg">
        <Picture
          src="volunteer.png"
          alt="Volunteer"
          sizes="(max-width: 800px) 100vw, 800px"
          widths={[200, 400, 800]}
          aspectRatio="3:2"
          background="#ffffff"
          fit="cover"
          position="center"
          class="rounded-t-lg opacity-70"
        />
      </div>
      <div class="p-5">
        <a href="#">
          <h5
            class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
          >
            Volunteer or support
          </h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
          Support the New World Steel Pan Orchestra by volunteering your time to
          help promote Caribbean music and culture in the community.
        </p>
        <a
          href="#"
          class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          Read more
          <svg
            aria-hidden="true"
            class="w-4 h-4 ml-2 -mr-1"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
            ><path
              fill-rule="evenodd"
              d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
              clip-rule="evenodd"></path></svg
          >
        </a>
      </div>
    </div>
  </div>
</div>
